@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    &__btn {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__btn-menu {
        display: none;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        span {
            display: block;
            width: 37px;
            height: 3px;
            margin: 6px 0;
            border-radius: 4px;
            background-color: #000;
        }
    }
}

.logo {
    margin: 0 auto;
}

.menu {
    padding-right: 15px;

    &__list {
        display: flex;
    }

    &__list-item {
        padding-right: 45px;
        padding-left: 35px;
    }

    &__list-link {
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9033);
        line-height: 22px;
    }

    &__list-link--active {
        position: relative;
        padding-bottom: 4px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            border-radius: 1px;
            background-color: rgba($color: $title, $alpha: .7);
        }
    }
}

.rightside-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    padding-top: 40px;
    background-color: #fff;
    box-shadow: -2px 3px 17px 0 #000;
    z-index: 3;
    transition: all 0.5s ease-in-out;

    &.rightside-menu--close {
        transform: translateX(150%);
    }

    &__close {
        margin-left: 50px;
        margin-bottom: 60px;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__content {
        max-width: 485px;
        margin: 0 auto;
        text-align: center;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 40px;
    }

    &__title {
        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17px;
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 252px;
            margin: 0 auto;
            height: 2px;
            background: #979797;
        }
    }

    &__text {
        margin-bottom: 75px;
    }

    &__img {
        max-width: 485px;
    }
}

.breadcrumbs {
    position: relative;
    padding: 13px 14px;
    background-color: rgba($color: #DFDFDF, $alpha: .5);
    z-index: 2;

    &__list {
        display: flex;
        overflow-x: auto;
    }

    &__item {
        position: relative;
        padding-right: 8px;
    }

    &__item::after {
        content: '/';
        position: absolute;
    }

    &__item:last-child::after {
        display: none;
    }

    &__link {
        font-size: 14px;
        color: $default;
    }
}

.top {

    &__inner {
        position: relative;
        padding-bottom: 70px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 722px;
            background-image: url('../images/main_slider.jpg');
            z-index: -1;
        }
    }

    &__slider-item {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    &__slider-img {
        margin-left: -10%;
        max-width: 703px;
        height: 815px;
        object-fit: cover;
    }

    &__slider-info {
        max-width: 645px;
        margin-left: 25px;
    }

    &__slider-title {
        position: relative;
        padding-bottom: 26px;
        margin-bottom: 26px;
        color: $title;
        font-size: 110px;
        line-height: 135px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 185px;
            height: 2px;
            background: #979797;
        }
    }

    &__slider-text {
        max-width: 585px;
    }
}

.new-collection {
    padding: 45px 0 35px;
    text-align: center;

    &__title {
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 25px;
        color: $title;
        font-size: 35px;
        line-height: 51px;
        @extend %title-font;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 252px;
            height: 2px;
            margin: 0 auto;
            background: #979797;
        }
    }

    &__text {
        max-width: 730px;
        margin: 0 auto 30px;
    }
}

.collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin-bottom: 70px;

    &__item {
        position: relative;

        &:hover .collection__info {
            opacity: 1;
        }
    }

    &__img {
        min-height: 350px;
        object-fit: cover;
    }

    &__info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: rgba($color: #fff, $alpha: .6);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &__info-title {
        position: relative;
        padding-bottom: 19px;
        margin-bottom: 19px;
        font-size: 20px;
        line-height: 25px;
        color: $title;
        @extend %title-font;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 80%;
            height: 2px;
            margin: 0 auto;
            background: #979797;
        }
    }

    &__info-text {
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
}

.decor {
    padding: 170px 0 155px;
    background-image: url('../images/decor-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        position: relative;
        max-width: 510px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        color: $title;
        font-size: 60px;
        line-height: 80px;
        @extend %title-font;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 252px;
            height: 2px;
            background: #979797;
        }
    }

    &__text {
        max-width: 540px;
    }
}

.work-path {
    padding: 80px 0 30px;

    &__title {
        margin-bottom: 40px;
        text-align: center;
        color: $title;
        font-size: 36px;
        line-height: 51px;
        @extend %title-font;
    }

    &__list-box {
        position: relative;
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid rgba($title, .7);

        &::before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $title;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 250px;
        height: 100%;
    }

    &__item--production {
        margin-left: 317px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
        }
    }

    &__item--production,
    &__item--consultation {
        padding-bottom: 38px;
    }

    &__item--production {
        padding-bottom: 125px;
    }

    &__item--measurements {
        padding-top: 38px;
        margin-left: 305px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
        }
    }

    &__item-title {
        margin-left: 13px;
        color: $title;
        @extend %title-font;
    }

    &__item-text {
        margin-top: 13px;
    }
}

.gallery {
    padding: 80px 0 90px;

    &__btns {
        margin-bottom: 40px;
        text-align: center;
    }

    &__btn {
        margin: 0 13px;
        padding: 6px 16px;
        background-color: transparent;
        border: 1px solid #454647;
        outline: none;
        border-radius: 20px;
        color: #8F8D8D;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.3s;
        cursor: pointer;
    }

    .mixitup-control-active {
        background-color: rgba($color: #FFEF35, $alpha: .5);
        color: $title;
        border: 1px solid rgba($color: #FFEF35, $alpha: .5);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px 35px;
    }

    &__item:first-child {
        grid-row: 1/3;
        grid-column: 1/3;
    }

    &__item img {
        width: 100%;
        max-height: 1150px;
        height: 100%;
        object-fit: cover;
    }

    &.gallery-page {
        .gallery__item:nth-child(8) {
            grid-row: 3/5;
            grid-column: 3/5;
        }
    }
}

.ideas {
    padding-bottom: 100px;

    &__title {
        margin: 0 auto 30px;
        max-width: 430px;
        color: $title;
        font-size: 36px;
        line-height: 51px;
        text-align: center;
        @extend %title-font;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    &__link {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__info {
        margin-bottom: 9px;
        font-size: 14px;
        font-weight: 600;

    }

    &__author,
    &__date,
    &__theme {
        color: #707070;
    }

    &__item-title {
        color: $title;
        font-size: 24px;
        line-height: 38px;
        @extend %title-font;
    }
}

.about {
    &__prev {
        margin-top: -53px;
        padding: 160px 0;
        background-image: url('../images/about1.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-align: center;
    }

    &__prev-title {
        color: $title;
        font-size: 60px;
        line-height: 80px;
        @extend %title-font;
    }

    &__content {
        padding: 130px 0 40px;
    }

    &__title {
        position: relative;
        margin-bottom: 22px;
        padding-bottom: 22px;
        color: $title;
        font-size: 36px;
        line-height: 60px;
        @extend %title-font;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 2px;
            background: #979797;
        }
    }

    &__text {
        padding-left: 284px;

        p {
            margin-bottom: 30px;
        }
    }

    &__popup {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 178px 0;
        background-image: url('../images/about2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
}

.inspiration {
    position: relative;
    padding-top: 100px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 361px;
        background-image: url('../images/inspiration-bg.jpg');
        z-index: -1;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        margin-right: 78px;
        margin-left: -230px;
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        padding-bottom: 16px;
        font-size: 36px;
        line-height: 60px;
        color: $title;
        @extend %title-font;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 2px;
            background: #979797;
        }
    }

    &__text {
        margin-bottom: 30px;
    }

    &__content {
        max-width: 825px;
    }

    &__item {
        margin-bottom: 33px;
        color: $title;
        line-height: 23px;
        @extend %title-font;
    }

    &__item-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #fff;
        border-radius: 4px;
    }

    &__line {
        margin-top: -2px;
        height: 2px;
        border-radius: 4px;
        background-color: $title;
    }
}

.partners {
    padding: 16px 0 60px;

    &__items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    &__item {
        margin: 0 auto;
    }
}

.map {
    margin-top: -53px;
    margin-bottom: 50px;

    iframe {
        height: 578px;
    }
}

.contact {
    padding-bottom: 100px;

    &__title {
        position: relative;
        margin-bottom: 40px;
        padding-bottom: 25px;
        color: $title;
        font-size: 36px;
        line-height: 60px;
        @extend %title-font;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 2px;
            background: #979797;
        }
    }

    .contact__social {
        display: flex;
        padding-left: 284px;
        margin-bottom: 20px;
    }

    &__social-item+.contact__social-item {
        padding-left: 40px;
    }

    &__text {
        margin-bottom: 10px;
        color: #A1A1A1;
    }

    &__phone {
        color: $default;
    }

    &__city {
        margin-bottom: 16px;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 284px;
    }

    &__form-input {
        width: 48%;
        margin-bottom: 13px;
        padding: 6px 17px;
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        outline: none;

        &::placeholder {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }

    &__form-area {
        width: 100%;
        padding: 14px 17px;
        margin-bottom: 20px;
        min-height: 125px;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        resize: none;
        outline: none;

        &::placeholder {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }

    &__form-btn {
        padding: 6px 60px;
        background: #363838;
        color: #fff;
        border: none;
        border-radius: 21px;
        font-weight: 600;
        outline: none;
        cursor: pointer;
    }

    &__box {
        padding-left: 284px;
    }
}

.contact-slider {
    padding-bottom: 102px;

    &__link {
        position: relative;
        margin-bottom: 20px;

        &:hover .contact-slider__title {
            opacity: 1;
        }
    }

    &__img {
        width: 170px;
        height: 170px;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        color: $title;
        text-align: center;
        line-height: 22px;
        background: rgba($color: #FFFFFF, $alpha: .6);
        opacity: 0;
        transition: opacity .3s ease;
        @extend %title-font;
    }
}

.blog {
    padding: 60px 0 100px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__category {
        margin-bottom: 36px;
    }

    &__category-title,
    &__tags-title {
        margin-bottom: 15px;
        color: $title;
        line-height: 23px;
        @extend %title-font;
    }

    &__category-item {
        margin-bottom: 12px;
    }

    &__category-link {
        color: inherit;
    }

    &__tags {
        margin-bottom: 50px;
    }

    &__tags-link {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 0 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #8F8D8D;
        border: 1px solid rgba($color: #454647, $alpha: .5);
        border-radius: 14px;
    }

    &__social {
        display: flex;
    }

    &__social-item {
        margin-right: 20px;
    }

    &__items {
        max-width: 730px;
    }

    &__item {
        margin-bottom: 80px;
    }

    &__item-img {
        max-width: 730px;
    }

    &__item-info {
        padding: 25px 0 10px;
        font-weight: 600;
        font-size: 14px;
        color: #707070;

        a {
            color: inherit;
        }
    }

    &__item-title {
        margin-bottom: 6px;
        color: $title;
        font-size: 24px;
        line-height: 38px;
        @extend %title-font;
    }

    &__blockquote {
        margin-bottom: 50px;
        padding: 54px 64px;
        font-style: italic;
        font-weight: 300;
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        color: #363838;
        background: rgba(223, 223, 223, 0.5);
    }

    &__blockquote-author {
        position: relative;
        margin-top: 23px;
        padding-top: 23px;
        color: rgba($color: $title, $alpha: .9);
        font-size: 16px;
        line-height: 22px;
        font-style: normal;
        @extend %title-font;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 200px;
            height: 2px;
            background: #979797;
        }
    }

    &__item-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 167px 0;
        background-image: url('../images/blog2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        text-align: center;
    }

    &__item-img {
        position: relative;
    }

    &__slider-btn {
        position: absolute;
        top: 50%;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
    }

    .slick-next {
        right: 16px;
    }

    .slick-prev {
        left: 16px;
    }
}

.posts {
    margin-bottom: 40px;

    &__title {
        margin-bottom: 15px;
        color: $title;
        line-height: 23px;
        @extend %title-font;
    }

    &__item {
        margin-bottom: 11px;
    }

    &__link {
        display: block;
        color: inherit;
    }

    &__date,
    &__author {
        color: #A1A1A1;
        font-size: 14px;
    }
}

.aside {
    width: 350px;
    margin-left: 30px;

    &__search {
        position: relative;
        margin-bottom: 40px;
    }

    &__search-input {
        display: block;
        width: 100%;
        padding: 6px 45px 6px 18px;
        border: 1px solid rgba($color: #383636, $alpha: .7);
        border-radius: 20px;
        outline: none;

        &::placeholder {
            font-family: 'Open Sans';
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }

    &__search-btn {
        position: absolute;
        top: 10px;
        right: 13px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &__list {
        display: flex;
    }

    &__item {
        margin: 0 6px;
    }

    &__arrow {
        margin: 0 6px;
    }

    &__arrow--disabled {
        opacity: 0;
        pointer-events: none;
    }

    &__page {
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #707070;
    }

    &__page--active {
        color: $title;
    }
}

.blog-single {
    blockquote {
        margin: 30px 0;
        padding: 0 40px;
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        color: $title;
    }

    .blog__blockquote-author::after {
        margin-left: 0;
        margin-right: auto;
    }

    &__tags {
        margin-bottom: 30px;
    }

    &__tags-title {
        margin-bottom: 20px;
        color: $title;
        font-size: 20px;
        line-height: 31px;
        @extend %title-font;
    }

    &__tags-link {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 23px;
        padding: 0 16px;
        border: 1px solid rgba($color: #454647, $alpha: .5);
        border-radius: 14px;
        color: #8F8D8D;
        font-size: 14px;
        font-weight: 600;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        padding: 40px 0 32px;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
    }

    &__link {
        position: relative;
        max-width: 243px;
        font-weight: 600;
        font-size: 14px;
        color: #707070;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 23px;
            background-repeat: no-repeat;
        }
    }

    &__link-next {
        padding-right: 44px;
        text-align: right;

        &::before {
            right: 0;
            background-image: url('../images/blog-arrow-next.svg');
        }
    }

    &__link-prev {
        padding-left: 44px;

        &::before {
            left: 0;
            background-image: url('../images/blog-arrow-prev.svg');
        }
    }

    &__comments-title {
        margin-bottom: 20px;
        color: $title;
        font-size: 20px;
        line-height: 31px;
        @extend %title-font;
    }

    &__comments-item {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 40px;
    }

    &__comments-avatar {
        margin-right: 13px;
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__comments-reply {
        margin-left: 5px;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        font-weight: 600;
        font-size: 14px;
        color: #707070;
        cursor: pointer;
    }

    &__comments-name {
        color: $title;
        line-height: 23px;
        @extend %title-font;
    }

    &__comments-date {
        margin-bottom: 10px;
        font-size: 14px;
        color: #A1A1A1;
    }

    &__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__form-title {
        margin-bottom: 25px;
        color: $title;
        @extend %title-font;
        line-height: 23px;
    }

    &__form-input {
        width: 49%;
        margin-bottom: 20px;
        padding: 6px 17px;
        border: 1px solid #DFDFDF;
        border-radius: 20px;
        outline: none;

        &::placeholder {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }

    &__form-area {
        width: 100%;
        padding: 14px 17px;
        margin-bottom: 12px;
        min-height: 125px;
        border: 1px solid #DFDFDF;
        border-radius: 24px;
        resize: none;
        outline: none;

        &::placeholder {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }

    &__form-label {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        color: #A1A1A1;
    }

    &__form-btn {
        padding: 6px 60px;
        background: #363838;
        color: #fff;
        border: none;
        border-radius: 21px;
        font-weight: 600;
        outline: none;
        cursor: pointer;
    }
}

.footer {
    &__content {
        padding: 60px 0 80px;
        background-color: #DFDFDF;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 540px;
    }

    &__info-title {
        margin-bottom: 14px;
        line-height: 23px;
        color: $title;
        @extend %title-font;
    }

    &__info-text {
        max-width: 475px;
        margin-bottom: 16px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        width: 100%;
        margin-right: 9px;
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        outline: none;
        opacity: 0.7;
        border: 1px solid rgba($title, .7);

        &::placeholder {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #A1A1A1;
        }
    }

    &__form-btn {
        min-width: 160px;
        padding: 6px 12px;
        background-color: $title;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 21px;
        font-weight: 600;
        cursor: pointer;
    }

    &__social {
        margin-right: auto;
        margin-left: 100px;
        width: 125px;
    }

    &__social-link {
        position: relative;
        padding-left: 28px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: 18px;
            height: 16px;
            background-repeat: no-repeat;
        }
    }

    &__social-link--facebook::before {
        background-image: url('../images/facebook.svg');
    }

    &__social-link--instagram::before {
        background-image: url('../images/instagram.svg');
    }

    &__social-link--pinterest::before {
        background-image: url('../images/Pinterest.svg');
    }

    &__social-link--whatsapp::before {
        background-image: url('../images/whatsapp.svg');
    }

    &__social-link--youtube::before {
        background-image: url('../images/youtube.svg');
    }

    &__social-item,
    &__menu-item {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 14px;
    }

    &__social-link,
    &__menu-link {
        color: #707070;
    }

    &__menu {
        margin-right: 60px;
        width: 125px;
    }

    &__copyright {
        padding: 41px 0 41px;
        text-align: center;
        background-color: $title;
        color: #A1A1A1;
    }
}

@import 'media';